body {
  font-family: 'Cairo', sans-serif;
background-color: antiquewhite;
color: black;
}

* {
  box-sizing: border-box;
}

/* Flag colours*/

  
p {
   margin:auto;
   padding: 0;
    font-weight: bold;

}
.nav-link {
    font-size:30px;
}
 .region-link {
   color: blue;
   font-style: italic;

 }

  .strap {
    font-style: italic;
  }
  
  
 

  